/* navbar starts here */
.col-1{width:8.33%}
.col-2{width:16.66%}
.col-3{width:25%}
.col-4{width:33.33%}
.col-5{width:41.66%}
.col-6{width:50%}
.col-7{width:58.33%}
.col-8{width:66.66%}
.col-9{width:75%}
.col-10{width:83.33%}
.col-11{width:91.66%}
.col-12{width:100%}
.logo{text-align:left; }

.navbar h1{text-align:right;}
.menu{flex-direction:row;justify-content:flex-end;}

.menu a{margin:10px;padding:10px 15px;}
/* navbar end here */



/* profile starts here */
.profile .fish{position:absolute;right:350px;top:
    30px;transition:transform 2s, width 2s;width:120px;}
    
    .profile .fish:hover{transform:rotate(360deg);
    width:140px;}

    .profile .fish-bottom{position:absolute;left:300px;bottom:
        -10px;transition:transform 2s, width 2s;width:120px;}
        
        .profile .fish-bottom:hover{transform:rotate(360deg);
        width:140px;}
  /* profile ends here */

   /* about me starts here */

   .image{margin-top:100px;}
   .image img{height:270px; width:250px;}
   .about-me-des p{text-align:left;}
       /* about me ends here */

       /* achievement starts here */
       .contact button{width:120px;}
        .contact-link{position:relative;}
    .media-button{position:absolute;top:;
    left:50%;transform:translate(-50%, -50%);
margin-top:150px;}  

      /* achievemente ends here */
      
      /* footer starts here */
      .footer-menu{margin-top:12px;}
      .footer-menu a{display:inline;margin:10px;}
